POSTGRES_DB=db_name
POSTGRES_USER=user_name
POSTGRES_PASSWORD=user_password
APP_ENV=dev
APP_SECRET=your_secret_here

###> doctrine/doctrine-bundle ###
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?serverVersion=17&charset=utf8"
###< doctrine/doctrine-bundle ###